#menu{ position: relative; width:940px; padding:0 30px; z-index: 200; left:0; bottom:0; height: 46px; background: #3db6e5; }
#lang { 
	display: block; 
	position: absolute; 
	z-index: 200; 
	width: 60px; 
	top:16px; right:30px;  
	text-align: right !important;
	padding: 0;
}
#lang img, #lang a {
	border: none;
	padding: 0 !important;
	margin: 0 !important;
}
#lang a { 
	display: block;
	width: 16px;
	height: 16px;
	float: right;	
	margin-left: 10px !important;
}

#menu ul {
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	display:block;
	}
	
#menu ul li {
	float:left;
	display:list-item;
	list-style: none; 	
	background-color:#3db6e5;
	}

#menu ul li a {
	display:block;
	font:700 15px 'PT Sans'; text-transform: uppercase; line-height: 13px;
	padding:16px 10px 17px 10px;
	color:#fff;	
	text-decoration:none;
	/*font-family: 'Bree Serif', 'serif';*/
}

a.home { 
	display: block; 
	width: 17px; height: 16px; 
	padding: 0!important; overflow: hidden; text-indent: -9999px; 
	background: url(../images/home_icon.png) left top no-repeat; 
	margin: 17px 5px 0 0px; }
li.current_page_item a.home, a.home:hover { background: url(../images/home_icon.png) left top no-repeat; }

#menu li a:hover, 
#menu li.current_page_item a,
#menu li.current_page_parent a { color: #000; }

	
/* Change this in order to change the Dropdown symbol */
#menu li > a:after { content: ''; } 
#menu li > a:only-child:after { content: ''; }  	
	
	
/* The Dropdown Styles */
/* =================== */

/* Hide Dropdowns by Default */
#menu ul ul {
	display: none;
	position: absolute; top: 45px;	
}
	
/* Display Dropdowns on Hover */
#menu ul li:hover > ul {
	display:list-item;
}
	
/* Fisrt Tier Dropdown */
#menu ul ul li {
	width:170px;
	float:none;
	position: relative;
	border-bottom:none;
}
#menu ul ul li a {
	border-top: 1px solid #fff;
}

/* Second, Third and more Tiers	*/
#menu ul ul ul li {
	position: absolute relative;
	top:-35px; 
	left:170px;
}

/* footer */
#footer_menu { height: 49px; font:600 12px 'Raleway'; text-transform: uppercase; line-height: 12px; text-align: center; }
#footer_menu ul{ list-style:none; }
#footer_menu li {
  display:inline;
  position: relative;
  margin-right: 0px; 
  padding-top: 13px;

}
#footer_menu li a { display: inline-block; padding: 0px 15px; border-right: 1px solid #ccc; }
#footer_menu a { color:#ccc; }
#footer_menu a:hover, 
	#footer_menu li:hover a{ color:#fff; }
#footer_menu li.current_page_item a, 
	#footer_menu ul li.current_page_parent a, 
	#footer_menu ul li a:hover { color: #fff; }
	#footer_menu li a { display: inline-block; padding: 0px 9px 0 7px; border-right: 1px solid #ccc; }
#footer_menu li:first-child a { padding-left: 0px; }
#footer_menu li:last-child a { border-right: none; }