/*
Theme Name: Paroisse Andohalo 2k14
Theme URI: http://vanileo.com
Author: Vanileo
Author URI: http://vanileo.com
Description: 
Version: 1
*/

@import url('css/layout.css');
@import url('css/box.css');
@import url('css/responsive.css');

body {
    background:#f9f9f9;
    font:normal 12px 'Open Sans';
    line-height:1.4em;
    color: #333;
}

/* links */
a, a:hover, a:visited {
    text-decoration:none;
    color:#333;
}

img { border:none; }

p { margin-bottom: 10px; }

.big_red { margin:15px 0; }

/* headers */
h1, h1 a {
    /*font:normal 28px 'Terminal Dosis', 'Trebuchet MS';*/
    font-weight:normal;
    color:#333;
    /*line-height:1em;*/
}
h2, h2 a {
    font-size: 28px;
    font-weight:normal;
    color:#333 !important;
    line-height:1.1em;
    margin-bottom: 22px;
    letter-spacing: -1.5px;
}
h3, h3 a {
    font-size: 22px;
    font-weight:normal;
    color:#333 !important;
    line-height:1.1em;
    margin-bottom: 15px;
}
h4, h4 a {
    font-size: 18px;
    font-weight:normal;
    color:#333 !important;
    line-height:1.1em;
    margin-bottom: 15px;
}

/* social */
a.social { display: inline-block; float: right; width:22px; height: 22px; overflow: hidden; text-indent: -9999px; margin-left: 3px;  }
a.rss { background: url(images/social_icons.png) left top no-repeat; }
a.facebook { background: url(images/social_icons.png) left -22px no-repeat; }

/* latest news */
.news_date { font-weight:700; font-size: 13px; color: #7e0033; margin-bottom: 20px; letter-spacing: -0.2px; }

/* news ticker */
.ticker_separator { width: 200px; }

/* contact */
.sb_contact { padding:5px 0 0 0 !important; }
.sb_contact input[type=text], .sb_contact input[type=email] { padding: 5px; border: 1px solid #d6d2d3; width:168px; min-width:168px; max-width:248px; margin-bottom:5px; background: #f1edee; font-size: 11px; color: #666; }
.sb_contact textarea { padding: 5px; border: 1px solid #d6d2d3; min-width:248px; width:248px; max-width:248px; height: 150px; margin-bottom:7px; background: #f1edee; }
.sb_contact input[type=submit] { font:700 11px 'Open Sans'; text-transform: uppercase; padding: 2px 7px; border: none; background: #f1edee; color: #7e0033; border: 1px solid #d6d2d3; }
.single_contact { padding:0 !important; }
.single_contact input[type=text], .single_contact input[type=email] { padding: 5px; border: 1px solid #d6d2d3; width:266px; min-width:266px; max-width:266px; margin-bottom:5px; background: #f1edee; font-size: 11px; color: #666; }
.single_contact textarea { padding: 5px; border: 1px solid #d6d2d3; width:458px; height: 250px; margin-bottom:7px; background: #f1edee; }
.single_contact input[type=submit] { font:700 11px 'Open Sans'; text-transform: uppercase; padding: 2px 7px; border: none; background: #f1edee; color: #7e0033; border: 1px solid #d6d2d3; }

/* pericope */
.pericope_date { font-size:9px; text-transform:uppercase; color:#7e0033; margin-bottom: 3px; }
.pericope_title {
    font-size: 22px;
    font-weight:normal;
    color:#333 !important;
    line-height:1.1em;
    margin-bottom: 22px;
}
.pericope ul { list-style: none; }
.pericope ul li { padding: 10px 0; border-top: 2px dotted #ccc; font-size: 12px; color: #333; }
ul.list_pericope li { margin-bottom: 7px; }

/* lists */
.post ul { margin-left: 25px; }
.post ul li { margin-bottom: 10px; }
/*
ul.gen_list { list-style: none; }
    ul.gen_list li { padding-bottom: 7px; font-size: 13px; }
        .sb_news_date { background: url(../images/bg_line.png) left 8px repeat-x; padding-bottom: 7px; }
            .sb_news_date span { font-size: 9px; background: #f9f9f9; padding-right: 5px; color:#7e0033; } */

ul.gen_list { list-style: none; margin: 0; padding: 0; }
    ul.gen_list li { padding: 10px 0; font-size: 13px; border-top: 2px dotted #ccc; color: #191919; }
        .gen_news_date { font-size: 11px; color:#7e0033; padding-right: 5px; }
    ul.gen_list li:first-child { padding-top:0; border-top: none; }    

ul.documents { list-style: none; }
    ul.documents li { padding: 10px 0 10px 34px; font-size: 13px; border-top: 2px dotted #ccc; color: #191919; background: url(images/attachment_icons/ico3.png) left 3px no-repeat; }
    ul.documents li:first-child { border-top: none; }    

/* documents */
/*
.pdf { background: url(images/attachment_icons/pdf.png) left center no-repeat; }
.doc { background: url(images/attachment_icons/doc.png) left center no-repeat; }
.docx { background: url(images/attachment_icons/docx.png) left center no-repeat; }
.ppt { background: url(images/attachment_icons/ppt.png) left center no-repeat; }
.pptx { background: url(images/attachment_icons/pptx.png) left center no-repeat; }
*/

/*  Using 'class="alignright"' on an image will (who would've
    thought?!) align the image to the right. And using 'class="centered',
    will of course center the image. This is much better than using
    align="center", being much more futureproof (and valid) */

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

img.alignright {
    padding: 0px;
    margin: 0 0 2px 10px;
    display: inline;
    }

img.alignleft {
    padding: 0px;
    margin: 0 10px 2px 0;
    display: inline;    
    }

.alignright {
    float: right;
    }

.alignleft {
    float: left;
    }
/* End Images */



/* Captions */
.aligncenter,
div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    border: 1px solid #ddd;
    text-align: center;
    background-color: #f3f3f3;
    padding-top: 4px;
    margin: 10px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.wp-caption img {
    margin: 0;
    padding: 0;
    border: 0 none;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    padding: 0 4px 5px;
    margin: 0;
}
/* End captions */

/* POSTNAV */
.postnav { padding: 15px 0; }
.nav_right, .nav_left { width: 50%; }
.nav_right { text-align: right; }
.nav_right { text-align: right; }

/* copyright */
.copy {
    text-align:center;
    color:#e9e9e9;
}

/* vanileo */
a.vani {
    color:#fff;
    text-decoration:none;
}

/* commons */
.separator { width: 100%; height: 1px; border-top: 1px solid #ccc; }
.margin_bottom_40 { margin-bottom:40px; }
.left { float:left; }
.right { float:right; }
.centered { margin:0 auto; }
.clear_left { clear:left; }
.clear_both { clear:both; }
.text_align_right { text-align: right; }
.text_align_center { text-align: right; }
.top_gutter { margin-top:5px; }
.bottom_gutter { margin-bottom:5px; }
.gutter { margin-right:51px; }
.gutter_min { margin-right:50px; }
.left_gutter { margin-left:5px; }
.right_gutter { margin-right:5px; }
.margin_bottom_30 { margin-bottom: 30px; }
.margin_bottom_15 { margin-bottom: 15px; }
.inner_1 { padding:30px 31px 30px 31px; }
.inner_2 { padding:30px 32px 30px 31px; }
.uppercase { text-transform: uppercase; }
a.read_more { font-weight:bold; color:#7e0033; }