<iframe width="848" scrolling="no" height="500" style="border:none;" border="0" src="http://movietrailers.apple.com/movies/wb/islandoflemurs/islandoflemurs-tlr1_480p.mov?width=848&height=480" id="video-frame"></iframe>


<!-- http://movietrailers.apple.com/movies/wb/islandoflemurs/islandoflemurs-tlr1_480p.mov?width=848&height=480 -->


<iframe width="853" height="480" src="//www.youtube.com/embed/_iulRznSyOE" frameborder="0" allowfullscreen></iframe>