html, body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

body {
    font: 100% "Trebuchet MS", Trebuchet, Tahoma, Verdana, Arial, sans-serif;
    color: #333;
    padding: 0;
}

body * {
    line-height:1.22em;
}

/* menu */
.menu ul {
    list-style: none;
    height: 40px;
}
.menu ul li {
    float: left;
    margin-right: 10px;
}
.menu ul li a.active {
    color:red !important;
    font-weight: bold !important;
}