.stepcarousel{
	position: relative; /*leave this value alone*/
	border: 2px solid black;
	overflow: scroll; /*leave this value alone*/
	width: 350px; /*Width of Carousel Viewer itself*/
	height: 200px; /*Height should enough to fit largest content's height*/
}

.stepcarousel .belt{
	position: absolute; /*leave this value alone*/
	left: 0;
	top: 0;
}

.stepcarousel .panel{
	float: left; /*leave this value alone*/
	overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
	margin: 10px; /*margin around each panel*/
	width: 350px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
	height: 200px; /*Height should enough to fit largest content's height*/
}