/*
box white : 228; img : 216; padding : 6; margin: 10; content:200;
box black : 228; img 228;content:200;
*/

/* home boxes */
#box_frame { }
/*.box {  float: left; margin:10px; line-height: 1.4em; }*/ /* needs line-height for equal bottom margins */
.box {
	width:238px;
	margin:0 14px 15px 0;
	float:left;
	display:inline;  /* IE6 fix */
	background: #fff;	
	}
/*.col11 { width: 228px; background: #ccc; }*/ /*margin-bottom: 10px;*/ 
/*.col1 { width: 238px; border: 1px solid red; }*/
.box_footer {}
.box h3 { font: normal 18px 'Open Sans Condensed'; text-transform: uppercase; margin: 8px 0; }
.black_box { background: #333; color: #ccc; }
	.black_box a { color: #fff; }
	.enclosed_files { margin: 25px 0 25px 0; }
.white_box { background: #fff; }
	/*.white_box img { width: 216px; padding:6px; margin-bottom: 20px; }*/
	.box_news_img { margin: 6px 6px 10px 6px; }

.box_feats { font-size:10px; text-transform: uppercase;  }
ul.box_list { list-style: none; }
ul.box_list li { padding:7px 0 7px 0; border-top: 1px solid #666; }
ul.box_list li a { color: #ccc; text-transform: uppercase; font-size: 11px; }
/*
.has-gutters .box {
  margin: 10px 0;
}
*/
/*.has-gutters .col1 { width: 248px; }*/
/*
.has-gutters .box { margin: 10px 0 10px 0; }
.has-gutters .col1 { width: 248px; }
*/

a.box_read_more { display: block; padding-left: 15px; text-transform: uppercase; font-size: 10px; }

a.sous-class { text-decoration:none; background: url(../images/img04.gif) no-repeat bottom 35%; }

/* main event */
.main_event { width: 476px; }
.main_event_inner { padding: 20px; font-size: 13px; line-height: 1.4em; }
.main_event h2 a { display:block; font:normal 24px 'Open Sans Condensed'; line-height:28px; color:#f00; margin:10px 0 15px 0; text-transform: uppercase; }
.main_event_img { padding:10px; }

/* box content */
.box_content { width: 200px; margin: 0 auto; }
.box_content p { margin-bottom: 10px; }
.black_box .box_content { margin-top: 14px; }
/*.box_content ul { margin-left: 25px; }
.box_content ul li { margin-bottom: 5px; }*/

/* attachments */
ul.attachments { list-style: none; }
li.box_attachment { padding:8px 0; width: 200px; margin-right: 20px; border-top: 1px solid #666; }
.box_attachment a { text-transform: uppercase; }

.last_box { margin-right:0 !important; padding-right:0; }