/*
Plugin: jQuery Parallax
Version 1.1
Author: Ian Lunn
Author URL: http://www.ianlunn.co.uk/
Plugin URL: http://www.ianlunn.co.uk/plugins/jquery-parallax/

License: http://creativecommons.org/licenses/by-sa/3.0/ (Attribution Share Alike). Please attribute work to Ian Lunn simply by leaving these comments in the source code or if you'd prefer, place a link on your website to http://www.ianlunn.co.uk/.
*/

@charset "utf-8";
/* CSS Document */


img{
	border: 0;
}

.float-left{
	float: left;	
	margin: 0 0 0 20px;
}

.float-right{
	float: right;
	margin: 0 20px 0 0;
}

.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}

/*
#nav{
	list-style: none;
	position: fixed;
	right: 20px;
}

#nav li{
	margin: 0 0 15px 0;	
}
*/

#header, #intro, #second{
	width: 100%;
}

#home {
	
}

#portfolio{
	
	/*background:url(../images/firstBG.jpg) 50% -75px no-repeat fixed;
	color: white;
	height: 600px;
	margin: 0 auto;
	*/
	/*padding: 0px 0 0 0;*/
}

#clients{
	
	/*background: url(../images/secondBG.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1300px;
	margin: 0 auto;
	overflow: hidden;
	*/
	/*padding: 0px 0 0 0;*/
}

#about {
	/*padding: 0px 0px 0px 0px;*/
}

#services {
	/*
	background: url(../images/trainers.png) 50% 0 no-repeat fixed;
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	*/
	/*width: 900px;*/
	/*padding: 0px 0 0 0;*/
	z-index: 200;
}

#contact{
	/*background: url(../images/thirdBG.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 650px;
	*/
	/*padding: 0px 0 30px 0;*/
	padding-bottom:30px;
}

.story{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

.story .float-left, .story .float-right{
	padding: 100px 0 0 0;
	position: relative;
	width: 350px;	
}