@font-face {
	font-family: 'VegurRegular';
	src: url('Vegur-R_0500.eot');
	src: local('Vegur Regular'), local('Vegur-Regular'), url('Vegur-R_0500.ttf') format('truetype');
}

#tfuse-top-sliding-panel-container {
	text-align: left;
	line-height:normal;
	z-index: 8999;
}

#tfuse-top-sliding-panel-container span {
	font-size:13px;
	color: #D96B01;
}

#tfuse-top-sliding-panel-container #tfuse-top-sliding-panel-container-preloadimages {
	display: none;
}

#tfuse-top-sliding-panel-container {
    position:fixed;
    width:100%;
	z-index:8999;
	font-size:13px;
    display: none;
    top: -96px}

#tfuse-top-sliding-panel-container #tfuse-top-sliding-panel {
    position: relative;
	height:95px;
	background:url(../tfuse-top-panel/images/panel_bg.png) top repeat-x}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-container {
	width:996px;
	margin:0 auto;
	position:relative}

#tfuse-top-sliding-panel-container  .tfuse-top-sliding-panel-logo {
	float:left;
	height:75px}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-logo img {
	margin-top:22px}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-selectBoxes {
	float:left;
	padding:15px 0 0 70px;
	height:55px;
	width:610px}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-buyBox {
	float:right;
	width:150px;
	padding-top:40px}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-link-buy,
#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-link-buy-wp {
	display:block;
	width:130px;
	height:23px;
	background:url(../tfuse-top-panel/images/btn_buy.png) no-repeat;
	color:#fff;
	text-decoration:none;
	font-family:Arial, sans-serif;
	font-size:13px;
	font-weight:bold;
	padding: 8px 0 0 12px;
	text-transform:uppercase}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-link-buy-wp {
	width:148px;
	height:23px;
	/*background:url(../tfuse-top-panel/images/btn_buy_wp.png) no-repeat;*/
	font-size:13px;
	padding:7px 0 0 34px}

#tfuse-top-sliding-panel-container a.tfuse-top-sliding-panel-link-buy:hover {
	color:#000}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-desc { color:#6b6b6b;}
#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-desc a {color:#0092dd;}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-select-theme,
#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-select-style {
	float:left;
	margin-right:15px}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-headerName {
	display:block;
	height:25px;
	font-family:'VegurRegular', Arial, sans-serif;
	color:#b3b4b4}

#tfuse-top-sliding-panel-container dl {
	margin:0 0 5px 0}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-dropdown {
	position:relative;
	z-index:3000}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-dropdown dd,
#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-dropdown dt,
#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-dropdown ul {
	margin:0;
	padding:0;
	list-style:none}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-dropdown dd {
	position:relative;}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-dropdown a {
	color:#595959;
	height:30px;
	text-decoration:none;
	outline:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	display:block}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-dropdown a:hover,
#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-dropdown dt a:hover {
	color:#d96b01}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-dropdown dt a {
	background: url(../tfuse-top-panel/images/panel_select_style.png) no-repeat;
	display:block;
	width:198px;
	height:30px;
	color:#d96b01}

#tfuse-top-sliding-panel-container #tfuse-top-sliding-panel-themelist dt a {
	background: url(../tfuse-top-panel/images/panel_select_theme.png) no-repeat;
	width:238px}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-dropdown dt a span {
	cursor:pointer;
	display:block;
	height:30px;
	line-height:30px}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-dropdown dd ul {
	color:#595959;
	display:none;
	left:0px;
	position:absolute;
	top:-1px;
	idth:auto;
	width:198px;
	list-style:none;
	border-top:1px solid #d9d9d9}

#tfuse-top-sliding-panel-container #tfuse-top-sliding-panel-themelist dd ul{
	width:238px}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-dropdown dd ul li {
	border-bottom:1px solid #d9d9d9;
	margin: 0;
	background:url(../tfuse-top-panel/images/panel_select_bg2.gif) 0 0 repeat-y}

#tfuse-top-sliding-panel-container #tfuse-top-sliding-panel-themelist dd ul li {
	background:url(../tfuse-top-panel/images/panel_select_bg1.gif) 0 0 repeat-y}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-dropdown dd ul li:last-child {
	border:none;
	background:url(../tfuse-top-panel/images/panel_select_bg2_bot.png) bottom no-repeat}

#tfuse-top-sliding-panel-container #tfuse-top-sliding-panel-themelist dd ul li:last-child {
	background:url(../tfuse-top-panel/images/panel_select_bg1_bot.png) bottom no-repeat}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-dropdown dd ul li a { display:block; line-height:30px}
#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-dropdown dd ul li a:hover { color:#d96b01}
#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-dropdown dd ul li a.active { color:#d96b01}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-dropdown img.tfuse-top-sliding-panel-select-ico,
#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-dropdown img.tfuse-top-sliding-panel-ico-color {
	border:none;
	vertical-align:middle;
	margin:5px 8px 0 5px;
	float:left}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-dropdown img.tfuse-top-sliding-panel-ico-color {
	margin:9px 8px 0 7px}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-dropdown span.tfuse-top-sliding-panel-ico-color {
	float:left;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	width: 12px;
	height: 12px;
	margin:9px 8px 0 7px}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-tooltips .tfuse-top-sliding-panel-tip {
	background:#000;
	display:none;
	padding:5px;
	position:absolute;
	z-index:1000;
	-moz-border-radius:4px;
	-webkit-box-shadow: 0px 0px 10px #222;
	-moz-box-shadow: 0px 0px 10px #222;
	box-shadow: 0px 0px 10px #222}

#tfuse-top-sliding-panel-container .tfuse-top-sliding-panel-panel-bot {
	background:url(../tfuse-top-panel/images/panel_bot_bg_01.png) top right no-repeat;
	width:100%;
	height:8px;
	clear:both;
	position:relative;
	top:-1px;
	z-index:1000}

#tfuse-top-sliding-panel-container #tfuse-top-sliding-panel-btn-slide {
	position:absolute;
	right:42px;
	display:block;
	background:url(../tfuse-top-panel/images/panel_bot_bg_a.png) top right no-repeat;
	width:80px;
	height:37px;
	float:right;
	outline:none;
	z-index:2000;
	text-indent:-5000px}

#tfuse-top-sliding-panel-container #tfuse-top-sliding-panel-stylelist dd {
	display: none;
}

/* Share */
#tfuse-top-sliding-panel-container #share {
    display:inline-block;
}

#tfuse-top-sliding-panel-container #share .tfsocialButton {
    text-decoration:none;
    color:#000000;
    display:inline-block;
    cursor:pointer;
}

#tfuse-top-sliding-panel-container #share .tfsocialButton .tftwetLarge,
#tfuse-top-sliding-panel-container #share .tfsocialButton .tffbLarge {
    display: inline-block;
    height: 30px;
    width: 30px;
}

#tfuse-top-sliding-panel-container #share .FBConnectButton_Simple .FBConnectButton_Text_Simple {
    margin: 0;
    padding: 0;
}

#tfuse-top-sliding-panel-container #share .FBConnectButton_Simple {
    background:none;
}

#tfuse-top-sliding-panel-container #share .tftwetLarge {
    background-image: url('../tfuse-top-panel/images/twitter.png');
}

#tfuse-top-sliding-panel-container #share .tffbLarge {
    background-image: url('../tfuse-top-panel/images/facebook.png');
}

#tfuse-top-sliding-panel-container #share .tfsbLarge {
    background-image: url('../tfuse-top-panel/images/stumble.png');
}

.colorpicker {
    z-index: 9999;
}
#colorSelector {
    float: left;
    height: 32px;
    margin: 22px 20px 0 -10px;
    position: relative;
    width: 32px;
}
#colorSelector div {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 32px;
    height: 32px;
    background: url(../tfuse-top-panel/images/colorpicker/color_wheel.png) center;
}

