/* layouts */

/* Reset
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body { height:100% !important; }
.full_width { width: 960px; }
.full_width_popup { width: 560px; }

#header { position:relative; height: 45px; background: #443b32; overflow: hidden; }

#content { position:relative; background: #fff; }	
	
	/* content */
	#post { position:relative; width: 580px; padding: 30px; }
		#post_title { position: relative; padding: 20px; border: 1px dotted #ccc; }
		#post_content { position: relative; padding: 20px; border: 1px dotted #ccc; margin-top: 10px; }

	#sidebar { width: 260px; padding: 30px; }		

#footer { padding: 10px 0; color: #ccc; }