/*
Version: 1
*/

/* imports */
@import url('layouts.css');

body { font:normal 12px 'Verdana'; line-height: 1.3em; background: #279187; color: #30261c; }

/* headers */
h1, h2, h3, h4 { font-weight:bold; }
h2, .title, #post_header input[type=text] { font: bold 28px 'Open Sans Condensed'; margin-bottom: 25px; line-height: 1.2em; }

h4 { text-transform: uppercase; font-size: 16px; margin-bottom: 10px; }
h5 { text-transform: uppercase; font-size: 13px; margin-bottom: 10px; font-weight: bold; }

a { color: #279187; text-decoration: none; border: none; }
a:hover { color: #279187; }
img { border: none; }

ul, ol { margin: 5px 0 10px 20px; }

b, strong { font-weight: bold; }

p { margin-bottom: 10px; }

h2 a { color: #443b32; }

blockquote { width: 70%; border-left: 5px solid #ccc; padding: 5px 20px 3px 20px; margin: 30px;  }

/* admi tools */
.edit1 { position: absolute; top: 0; right: 0; border: 1px solid red; padding: 10px; }
.edit form,
.edit input {
    margin: inherit;
    padding: inherit;
    font: inherit;
    color: inherit;
    background: inherit;
    border: inherit
}
.correct { display: none; }

/* widget */
.widget { padding: 10px; background: #aaa; margin-bottom: 10px; }
.hovered { border:3px dotted #ccc !important; background: #bbb; }
.resetDroppable { border: none !important; padding: 0 !important; }

/* commons */
.left { float: left; }
.right { float:right; }
.clear_left { clear:left; }
.clear_right { clear:right; }
.no_margin_top { margin-top: 0; }
.margin_top_30 { margin-bottom: 30px; }
.no_margin_bottom { margin-bottom: 0; }
.margin_bottom_30 { margin-bottom: 30px; }
.margin_bottom_15 { margin-bottom: 15px; }
.no_padding_top { padding-top: 0; }
.no_border { border: 0; }
.centered { margin: 0 auto; }
.hide { display:none; opacity: 0; }
.first_p { font-size:13px; font-weight: bold; margin-bottom: 20px; }
