/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/

.theme-default .nivoSlider {
	position:relative;
	width: 100%;
	height: 360px;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    /*
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
    */
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
	width: 100%;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	position:absolute;
	left:50%;
	bottom:-42px;
    margin-left:-40px; /* Tweak this to center bullets */
}
.theme-default .nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:40px;
	height:40px;
	/*background:url(arrows.png) no-repeat;*/
	text-indent:-9999px;	
	top:220px;
}
.theme-default a.nivo-nextNav {
	background:url(next.png) no-repeat;
	/*background-position:-30px 0;*/
	/*top:232px;*/
	right:-20px;
}
.theme-default a.nivo-nextNav:hover {
	background:url(next_over.png) no-repeat;
	/*background-position:-30px 0;*/
	/*
	top:232px;
	right:-15px;
	*/
}
.theme-default a.nivo-prevNav {
	background:url(previous.png) no-repeat;
	
	left:-20px;
}
.theme-default a.nivo-prevNav:hover {
	background:url(previous_over.png) no-repeat;
	/*left:-15px;*/
}

.theme-default .nivo-caption {
	padding:0;
	width:100%;
	height:90px;
	margin:0;
	background: none;
}
.theme-default .nivo-caption a {
    color:#4a4035 !important;
    /*border-bottom:1px dotted #fff;*/
}
.theme-default .nivo-caption a:hover {
    /*color:#fff;*/
}

.caption_container {
	position:absolute;
	top: 0;
	right: 0;
	padding: 0 0px 0 0;
	/*background: #f00;*/
	/*width: 300px;*/
	/*background: url(../../../images/caption-container-bg.png) right top repeat-y;*/
}

.theme-default .nivo-caption p {
    padding:0 0px 0 0;
    margin-bottom: 5px;
    border:0px solid red;
    /*background: url(../../../images/caption-container-bg.png) right top repeat-y;*/
}
.theme-default .nivo-caption span {
    display: inline;
    font:bold 28px 'Open Sans Condensed' !important;
    line-height: 28px;
    color:#4a4035 !important;
    padding: 1px 20px 3px 14px;
    background: url(../../../images/trans-bg.png);
    /*line-height: 1.8em;*/          
}

.theme-default .nivo-caption span.first_caption {
	padding-top: 3px 20px 3px 20px;
}
.theme-default .nivo-caption span {
	
}

/*
.theme-default .nivo-caption a, .theme-default .nivo-caption a:hover {	
    font-size: 10px;
    color:#fff;
    padding:3px 7px;
    background: #900;
    text-decoration: none;    
    font: normal 10px 'Dosis';
    font-weight: 500; 
    text-transform: uppercase;
    margin-left: 40px;
}
*/