
a:link, a:active, a:visited {
	color : #666;
}
a:hover {
	text-decoration:none;
	color:#BD2323;
}
#strangemenu>ul>li.current-menu-item>a,
#strangemenu>ul>li.current-menu-parent>a{
	color:#BD2323;
}
#strangemenu ul li ul li .current-menu-item a,
#strangemenu ul li ul li .current-menu-parent a{
	color:#f5f5f5;
}
#strangemenu ul li a:hover {
	color: #BD2323;
}
#strangemenu ul li ul li a:hover { /*sub menus hover style*/
	color: #f5f5f5;
	border-bottom:1px solid #BD2323;
}
#strangemenu ul li ul {
	border:1px solid #000;

}
#strangemenu ul li ul li ul {
	border:1px solid #000;
	border-top:1px solid #BD2323;
}
:hover#toTop {
	color:#BD2323;
}
#top {
	border-bottom:1px solid #BD2323;
}
#teaser {
	border-top:1px solid #BD2323;
	border-bottom:1px solid #BD2323;
	background-color: #000;
}
#slider-wrapper {
	border-top:1px solid #BD2323;
	border-bottom:1px solid #000;
}
.caption-content strong {
	color:#f5f5f5;
	background:#BD2323;
}
.blog_title a:hover {
	color:#BD2323;
}
ul.entry_details {
	border-left:1px solid #BD2323;
}
ul.category_list a:hover {
	color:#BD2323;
}
ul.social li a:hover {
	border-bottom:1px solid #BD2323;
	color:#ccc;
}
h4.active a {
	color: #000;
	border-bottom:1px solid #BD2323;
}
a.button, input.button, #respond input[type="submit"] {
	color:#f5f5f5;
	border-right:2px solid #BD2323;
}
input.button, #respond input[type="submit"] {
	border-right:2px solid #BD2323;
}
input.button:hover, .button:hover, #respond input[type="submit"]:hover {
	color:#BD2323;
	border-right:2px solid #000;
}
input.fancyinput:focus, textarea.fancyinput:focus {
	border: 1px solid #BD2323;
}
.highlight1 {
	background-color:#BD2323;
}
.dropcap1 {
	color:#BD2323;
}
.dropcap2 {
	background-color:#BD2323;
}
blockquote.style6 {
	border-left: 6px solid #BD2323;
}
blockquote.style5 {
border-left: 6px solid #BD2323;
border-right: 6px solid #BD2323;
    }
.fancycaption .slide-top {
	border-bottom:2px solid #BD2323;
}
.entry_hover a {
	border-right:2px solid #BD2323;
}
#container .entry_hover a:hover, #container a.workbutton:hover {
	color:#BD2323 !important;
}
.theme_color {
	color:#BD2323;
}
::selection {
 background: #BD2323;
}
::-moz-selection {
 background: #BD2323;
}
ul.tags li a {
	color:#BD2323;
}
#footer li.cat-item a,
#footer li a,
#footer a {
	color:#999;
}
#footer li.cat-item a:hover,
.sub-footer a:hover,
#footer li a:hover,
#footer .tagcloud a:hover,
#footer a:hover {
	border-bottom:1px solid #BD2323 !important;
	color:#BD2323;
}
#footer {
	border-top:1px solid #BD2323;
	border-bottom:1px solid #BD2323;
}
#sub_footer a:hover {
	border-bottom:1px solid #BD2323;
	color:#ccc;
}

.entry_hover a {
	color: #f5f5f5;
}
.fancycaption .caption a h4 {
	color:#f5f5f5;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.fancycaption .caption a:hover h4 {
	color:#BD2323;
}
.blog_title a {
	color:#000;
}
.portfolio h4 a:hover {
	text-decoration:none;
	color:#BD2323;
}
#project span {
	background:#BD2323;
}
.fancycaption span {
	color:#BD2323;
}
ul.team li a:hover {
	color:#000;
}
span.tweet_text a:hover {
	color:#000;
	border-bottom:1px solid #BD2323;
}
span.tweet_time a:hover {
	color:#000;
	border-bottom:1px solid #BD2323;
}
a.fancy_link:hover {
	color:#000;
	border-bottom:1px solid #BD2323;
}

ul.blog_tags {
	border-bottom:1px solid #BD2323;
}
div.anythingSlider .thumbNav a.cur, div.anythingSlider .thumbNav a {
	background: #777;
	color: #FFF;
}

div.anythingSlider .thumbNav a {
	color: #FFF;
	background-color: #BD2323;
}

.comment .comments-number{ 
    color:#BD2323;
}
.tweet_join {
	color:#BD2323;
}
#footer .searchform input:focus {
	 border: 1px solid #BD2323;
    
}
#footer ul.cform input.fancyinput:focus, 
#footer ul.cform textarea.fancyinput:focus {
	border: 1px solid #BD2323;

}