/* screen layout */
#wrapper {
	width:600px;
	background-color:#f00;
	margin:0 auto;
}
	#header {
		height:120px;
		background-color:#ccc;
	}
	#content {
		height:300px;
		background:#aaa;
	}
	#footer {
		height:100px;
		background:#999;
	}