/* smartphone */
#wrapper {
	width:310px;
	background-color:#ccc;
	margin:0 auto;
}
	#header {
		height:120px;
		background-color:#444;
	}
	#content {
		height:300px;
		background:#fff;
	}
		#left_content {
			width:310px;
		}
		#sidebar {
			display:none;
		}
	#footer {
		height:100px;
		background:#0f0;
	}

	#menu ul {
		list-style:none;
	}
	#menu ul li {
		float:left;
		margin-right:10px;
	}