/* widget */
.widget { margin-bottom: 0px; }
	.widget_title { color:#7e0033; font-weight: 700; text-transform: uppercase; 
		font-size: 13px; margin-bottom: 10px; letter-spacing: -0.2px; background: url(../images/stripes.png) right 5px no-repeat; 
		border-bottom: 2px dotted #ccc; 
		padding: 0 0 15px 0;
	}
	.sb_widget_title { padding-left: 17px; background: url(../images/puce.png) left center no-repeat; 
		color:#7e0033; font-weight: 700; text-transform: uppercase; font-size: 13px; margin-bottom: 20px; letter-spacing: -0.2px; }	
	.widget_padding_top { padding-top: 32px; }		

/* gallery photo */
.thumb_sidebar_photo { width: 62px; height: 62px; overflow: hidden; margin: 0 3px 3px 0; }
.gallery_box { width: 68px; margin:0 8px 5px 0; }

/* documents */
.doc_box { margin-bottom: 30px; }

.last_box { margin-left: 0; }