/* main layouts */
/*
w 964
col 320 30
260
580
*/

/* Reset
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ul, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.full_width { width:964px; }	

#title { height: 65px; padding: 35px 0 0 0; }
#menu_bar { position: relative; }
	#menu { position: relative; }
	#social { position: absolute; top:14px; right: 0; width: 210px; }

#header_banner { width:100%; height:360px; background: #f9f9f9; overflow: hidden; margin:0 auto; }
	#slideshow { }
#flashnews_bar { height: 30px; background: #f1edee; border-bottom: 1px solid #bbb; }
	#flashnews { width:962px;height: 30px; border-left: 1px solid #ccc; border-right: 1px solid #ccc; }

#content{ margin-top: 0px; margin-bottom: 0px; border-left: 0px solid #ccc; border-right: 0px solid #ccc; }
.home { background: url('../images/bg.png') left top repeat-y !important; } /* */
.single_post { background: url('../images/bg_single.png') left top repeat-y !important; }
	.col1 { width: 643px; overflow: hidden; }
		.post { width: 580px; padding: 30px; background: #f9f9f9; margin-left: 1px; }
		.home_latest_news, .home_list_news { width: 579px; background: #f9f9f9; margin-left: 1px; }

	.col2 { width: 321px; overflow: hidden; }


/* sidebars */
.sb_photos { width: 263px; margin-top: 15px; }

#footer { background:#7e0033; padding: 20px; }