/* header tabs */
#menu{ height: 49px; background: #f9f9f9; font:700 13px 'Open Sans'; text-transform: uppercase; border-top: 1px solid #ccc; letter-spacing: -0.2px; }
#menu ul{ list-style:none; }
#menu li {
  display:inline;
  float: left;
  position: relative;
  margin-right: 0px; 
  padding-top: 13px;

}
#menu li a { display: inline-block; padding: 0px 15px; border-right: 1px solid #ccc; }
#menu a { color:#5a4b46; }
#menu a:hover, #menu li:hover a{ color:#222; }
#menu li.current_page_item a, #menu ul li.current_page_parent a, #menu ul li a:hover { color: #7e0033; }#menu li a { display: inline-block; padding: 0px 15px; border-right: 1px solid #ccc; }
#menu li:first-child a { padding-left: 0px; }
#menu li:last-child a { border-right: none; }