/*
360px

1024 -> 682
980 -> ... 200
*/
/*
@media screen and (max-width: 980px) {
  #slideshow { margin-top: -100px; }
}
@media screen and (min-width: 985px) and (max-width: 1100px) {
  #slideshow { margin-top: -130px; }
}
@media screen and (min-width: 1101px) and (max-width: 1200px) {
  #slideshow { margin-top: -160px; }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  #slideshow { margin-top: -15%; }
}
*/