/*Pericope*/

.stepcarousel{
    position: relative; /*leave this value alone*/
    overflow: hidden; /*leave this value alone*/
    width: 260px; /*Width of Carousel Viewer itself*/
    height: 350px; /*Height should enough to fit largest content's height*/
}

.stepcarousel .belt{
    position: absolute; /*leave this value alone*/
    left: 0;
    top: 0;
}

.stepcarousel .panel{
    float: left; /*leave this value alone*/
    overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
    margin: 0px; /*margin around each panel*/
    width: 260px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */    
    height:350px;
}


/* Agenda */

.agenda .stepcarousel{
    position: relative; /*leave this value alone*/
    overflow: hidden; /*leave this value alone*/
    width: 260px; /*Width of Carousel Viewer itself*/
    height: 300px; /*Height should enough to fit largest content's height*/    
}

.agenda .stepcarousel .belt{
    position: absolute; /*leave this value alone*/
    left: 0;
    top: 0;
}

.agenda .stepcarousel .panel{
    float: left; /*leave this value alone*/
    overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
    margin: 0px; /*margin around each panel*/
    width: 260px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */    
    height:300px;    
}