/* liScroll styles */

.tickeroverlay-left{
	/*background-image:url('../images/left.png');*/
	display:block;
	pointer-events:none;
	position:absolute;
	z-index:30;
	height:12px;
	width:150px;
	top:0;
	left:-2px;
}
	
.tickeroverlay-right{
	/*background-image:url('../images/right.png');*/
	display:block;
	pointer-events:none;
	position:absolute;
	z-index:30;
	height:12px;
	width:150px;
	top:0;
	right:-2px;
}
.tickercontainer { /* the outer div */
	width: 960px; 
	height: 27px; 
	margin: 0 auto; 
	padding: 0 0 0 0px;
	overflow: hidden;
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
	top: 8px;
	height: 18px;
	/*width: 718px;*/
	overflow: hidden;
}
ul.newsticker { /* that's your list */
	position: relative;
	margin-left: 20px;
	/*font: bold 10px Verdana;*/
	list-style-type: none;
	margin: 0;
	padding: 0;

}
ul.newsticker li {
	float: left; /* important: display inline gives incorrect results when you check for elem's width */
	margin: 0;
	padding-right: 15px;
	font-style: italic;
	/*background: #fff;*/
} 
ul.newsticker span {
	margin: 0 10px 0 0;
} 